body {
  font-family: DM Sans, sans sérif;
  font-size: 18px;
}
a {
  @include links-style;
}

.header {
  &__nav {
    margin: 20px 10px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo img {
    @include logo;
  }
  // &__filters {
  //   display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  // }
  // &__filters li {
  //   border: 1px solid rgb(218, 218, 218);
  //   border-radius: 15px;
  //   padding: 2px 3px;
  //   margin: 2px;
  // }
  // &__filters a {
  //   color: $color-primary;
  // }
  &__link--top {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 0%;
    background-color: $color-tertiary;
    padding: 3px;
    margin-top: 1px;
    border-radius: 3px;
  }

  &__link--right {
    color: $color-primary;
    font-size: 20px;
  }

  .tags span {
    font-size: 14px;
    color: $color-primary;
    padding: 0 5px;
    margin: 0 2px;
    border-radius: 15px;
    border: solid 1px #c4c4c4;
  }
}
