body {
  margin: 2% 10%;
}
.header-photographer {
  img {
    @include logo;
    margin-bottom: 30px;
  }
}
.photographer-section {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  height: 30vh;
  border-radius: 5px;
  &__content {
    padding: 25px 20px 0 20px;
  }
  &__name {
    @include name;
    font-size: 3rem;
    padding-bottom: 10px;
  }
  &__localisation {
    @include localisation;
    padding-bottom: 20px;
  }
  &__tagline {
    @include tagline;
    padding-bottom: 10px;
    color: #525252;
  }
  &__tags {
    @include tags;
    @include tag;
    font-size: 1rem;
  }
  &__button {
    @include button;
    position: absolute;
    left: 600px;
    top: 130px;
    cursor: pointer;
  }
  &__img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: 20px 100px;
    object-fit: cover;
  }
}
.media-section {
  margin-top: 2rem;
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card img,
  video {
    width: 360px;
    height: 350px;
    object-fit: cover;
    object-position: 50% 30%;
    padding-top: 10px;
    cursor: pointer;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    color: $color-primary;
  }
  &__likes {
    display: flex;
    justify-content: space-between;
  }
}
.lightbox {
  // display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(254, 254, 254, 0.9);
  z-index: 30;
  &__container {
    position: absolute;
    left: 30%;
    width: 100%;
  }
  &__container img,
  video {
    width: 35%;
    height: 80vh;
    border-radius: 5px;
  }
  &__container h2 {
    color: $color-primary;
    font-size: 1.5rem;
  }
  button {
    // display: none;
    border: none;
    background-color: rgba(254, 254, 254, 0.9);
    color: $color-primary;
    width: 100%;
    cursor: pointer;
  }
  .fas {
    font-size: 40px;
  }
  .fa-chevron-left {
    position: absolute;
    left: 390px;
    top: 320px;
    z-index: 1000;
  }
  .fa-chevron-right {
    position: absolute;
    right: 450px;
    top: 320px;
    z-index: 1000;
  }
  .fa-times {
    position: absolute;
    right: 450px;
    top: 50px;
    z-index: 1000;
  }
  .fa-times:hover {
    color: $color-secondary;
    transform: scale(1.1);
  }
}
.form-section {
  z-index: 1000;
  position: absolute;
  top: 1%;
  left: 30%;

  .form {
    background-color: $color-tertiary;
    width: 110%;

    &__content {
      margin-left: 20px;
      height: 110vh;
      width: 100%;
      position: relative;
    }

    &__head {
      font-size: 1.875rem;
      padding-top: 20px;
    }
    &__close {
      color: $color-white;
      font-size: 1.5rem;
      position: absolute;
      right: 30px;
      top: 15px;
    }
    &__close:hover {
      transform: rotate(45deg);
    }
    &__control {
      margin: 20px 0px;
    }

    &__label {
      font-size: 1.5rem;
    }
    small {
      visibility: hidden;
    }

    .success input {
      border: 2px solid $color-white;
    }
    .success textarea {
      border: 2px solid $color-white;
    }
    .error input {
      border: 2px solid $color-black;
    }
    .error small {
      visibility: visible;
    }
    .error textarea {
      border: 2px solid $color-black;
    }
    &__input {
      background-color: $color-white;
      @include input;
      padding: 20px 350px 15px 5px;
      margin-top: 10px;
      font-family: inherit;
    }
    &__input::placeholder {
      @include placeholder;
      margin-right: -50px;
    }
    &__text-area {
      @include input;
      padding-right: 275px;
      margin-top: 10px;
    }
    &__text-area::placeholder {
      @include placeholder;
    }

    &__button {
      @include button;
      display: block;
      margin-left: 20px;
      margin-bottom: 15px;

      position: absolute;
      left: 1%;
      top: 90%;
    }
  }
}
.media-filter-section {
  margin: 20px 0;
  .filter-dropdown {
    display: flex;
    &__label {
      margin-right: 10px;
    }
    &__content {
      // @include button;
      // height: 50px;
      padding: 0px 10px 10px 10px;
    }

    &__select {
      @include button;
      border-radius: 5px;
      padding: 5px 5px 10px 20px;
      width: 100%;
    }
    &__option {
      color: $color-white;
      font-size: 1.5rem;
    }
    &__list {
      visibility: hidden;
      // border-top: $color-white solid 1px;
    }
    .show {
      visibility: visible;
      // background-color: $color-primary;
      @include button;
      border-radius: 0 0 5px 5px;
      width: 100%;
      padding: 0 5px 10px 20px;
      // border-top: $color-white solid 1px;
    }
    // .show a {
    //   padding: 20px;
    // }
    &__arrow {
      margin-left: 10px;
    }
  }
}
.information-section {
  position: fixed;
  bottom: -15px;
  right: 20px;
  background-color: $color-tertiary;
  width: 18%;
  border-radius: 5px;
  display: flex;
  padding: 20px 10px;
  font-size: 1.7rem;
  &__heart {
    margin-right: 30px;
    font-size: 1.5rem;
  }
  &__likes {
    margin-left: 10px;
  }
}
