body {
  margin: 2% 7%;
  @media (max-width: 768px) {
    margin: 0;
  }
}
.header-photographer {
  img {
    @include logo;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      @include mobile-section-margin;
      margin-top: 10px;
    }
  }
}
.photographer-section {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  height: 30vh;
  border-radius: 5px;
  @media (max-width: 768px) {
    height: 35vh;
    margin-left: 3%;
  }

  &__content {
    padding: 25px 20px 0 20px;
    @media (max-width: 768px) {
      padding: 25px 0px 0 20px;
    }
  }
  &__name {
    @include name;
    font-size: 3rem;
    padding-bottom: 10px;
  }
  &__localisation {
    @include localisation;
    padding-bottom: 20px;
  }
  &__tagline {
    @include tagline;
    padding-bottom: 10px;
    color: #525252;
  }
  &__tags {
    @include tags;
    @include tag;
    font-size: 1rem;
  }
  &__button {
    @include button;
    position: fixed;
    left: 45%;
    top: 130px;
    cursor: pointer;
    @media (max-width: 768px) {
      position: fixed;
      left: 28%;
      top: 85%;
      padding: 15px 30px;
    }
  }
  &__button:hover,
  &__button:focus {
    background-color: $color-secondary;
  }
  &__img {
    width: 190px;
    border-radius: 50%;
    margin: 10px 30px 10px 100px;
    object-fit: cover;
    @media (max-width: 768px) {
      margin: 10px 10px 90px 0;
      // width: 135px;
      height: 150px;
    }
  }
}
.media-section {
  margin-top: 2rem;
  @media (max-width: 768px) {
    @include mobile-section-margin;
    margin-top: 20px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card img,
  &__card video {
    width: 380px;
    height: 350px;
    object-fit: cover;
    object-position: 50% 30%;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    @media (max-width: 768px) {
      margin-right: 2%;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    color: $color-primary;
  }
  &__likes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
// LIGHTBOX
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(244, 244, 244, 0.9);
  z-index: 30;
  &__container {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img--container {
    display: flex;
    flex-direction: column;
    width: 35%;
    @media (max-width: 768px) {
      width: 70%;
    }
  }
  &__img {
    height: 90vh;
    border-radius: 5px;
    object-fit: cover;
    @media (max-width: 768px) {
      height: 90vh;
    }
  }

  &__container h2 {
    color: $color-primary;
    font-size: 1.5rem;
  }
  button {
    border: none;
    background-color: rgba(254, 254, 254, 0.9);
    color: $color-primary;
    cursor: pointer;
  }
  .fas {
    font-size: 40px;
  }
  &__prev {
    padding-right: 30px;
    z-index: 100;
  }
  &__next {
    padding-left: 30px;
    z-index: 100;
  }
  &__close {
    position: absolute;
    right: 350px;
    top: 25px;
    z-index: 100;
    @media (max-width: 768px) {
      position: absolute;
      right: 10px;
    }
  }
  &__close:hover {
    color: $color-secondary;
    transform: scale(1.1);
  }
}

.form-section {
  z-index: 100;
  position: fixed;
  top: 1%;
  left: 30%;
  bottom: 2%;
  @media (max-width: 768px) {
    position: fixed;
    top: 1%;
    left: 4%;
  }

  .form {
    background-color: $color-tertiary;
    @media (max-width: 768px) {
      width: 95%;
    }

    &__content {
      margin-left: 20px;
      margin-right: 20px;
      height: 100vh;
      width: 100%;
      position: relative;
      @media (max-width: 768px) {
        width: 80%;
        height: 80vh;
      }
    }

    &__head {
      font-size: 1.875rem;
      padding-top: 20px;
    }
    &__close {
      color: $color-white;
      font-size: 1.5rem;
      position: absolute;
      right: 25px;
      top: 2px;
      @media (max-width: 768px) {
        position: absolute;
        right: -20px;
        top: 15px;
      }
    }
    &__close:hover {
      transform: rotate(45deg);
    }
    &__control {
      margin: 10px 0px;
    }

    &__label {
      font-size: 1.5rem;
    }
    small {
      visibility: hidden;
    }

    .success input {
      border: 2px solid $color-white;
    }
    .success textarea {
      border: 2px solid $color-white;
    }
    .error input {
      border: 2px solid $color-black;
    }
    .error small {
      visibility: visible;
    }
    .error textarea {
      border: 2px solid $color-black;
    }
    &__input {
      background-color: $color-white;
      @include input;
      padding: 20px 300px 15px 5px;
      margin-top: 10px;
      font-family: inherit;
      @media (max-width: 768px) {
        padding: 20px 150px 15px 5px;
      }
    }
    &__input::placeholder {
      @include placeholder;
      // margin-right: -50px;
    }
    &__text-area {
      @include input;
      padding-right: 275px;
      margin-top: 10px;
      @media (max-width: 768px) {
        padding-right: 120px;
      }
    }
    &__text-area::placeholder {
      @include placeholder;
    }

    &__button {
      @include button;
      display: block;
      margin-left: 20px;
      margin-bottom: 5px;

      position: absolute;
      left: 1%;
      top: 90%;
      @media (max-width: 768px) {
        position: absolute;
        left: 25%;
        top: 70%;
        margin-top: 15px;
        padding: 10px 20px;
      }
    }
  }
}
.media-filter-section {
  margin: 20px 0;
  @media (max-width: 768px) {
    margin: 5% 2% 0 2%;
  }

  .custom-select {
    position: relative;
    font-family: Arial;
    // width: 200px;
    display: flex;
  }
  .custom-select label {
    @media (max-width: 768px) {
      margin-left: 2%;
    }
  }
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }

  .select-selected {
    background-color: $color-primary;
    position: absolute;
    left: 90px;
    width: 166px;
    border-radius: 5px;
  }

  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }

  /* style the items (options), including the selected item: */
  .select-items div,
  .select-selected {
    color: #ffffff;
    padding: 13px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }

  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: $color-primary;
    top: 100%;
    left: 90px;
    margin-top: 27px;
    z-index: 99;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    width: 200px;
  }
  .select-items div {
    border-top: solid $color-white 1px;
  }

  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  .same-as-selected {
    display: none;
  }
  .select-items div:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
.information-section {
  position: fixed;
  bottom: -15px;
  right: 20px;
  background-color: $color-tertiary;
  width: 18%;
  border-radius: 5px;
  display: flex;
  padding: 20px 10px;
  font-size: 1.7rem;
  @media (max-width: 768px) {
    display: none;
  }
  &__heart {
    margin-right: 30px;
    font-size: 1.5rem;
  }
  &__likes {
    margin-left: 10px;
  }
}
