.photographer-section {
  background-color: #fafafa;
  // display: flex;
  &__name {
    @include name;
  }
  &__localisation {
    @include localisation;
  }
  &__tagline {
    @include tagline;
  }
  &__tags {
    @include tags;
    @include tag;
  }
  &__img {
    width: 100%;
    height: 170px;
    border-radius: 50%;
    // padding: 0px 200px;
    object-fit: cover;
  }
}
