@mixin links-style {
  text-decoration: none;
  color: $color-black;
}
@mixin logo {
  height: 3rem;
}
@mixin titles {
  color: $color-primary;
  font-size: 1.875rem;
}
@mixin tags {
  font-size: 12px;
  color: $color-primary;
  padding: 0 5px;
  margin: 0 1px;
  border-radius: 15px;
  border: solid 1px #c4c4c4;
}
@mixin name {
  color: $color-secondary;
  font-size: 2rem;
}
@mixin localisation {
  font-size: 1rem;
  color: $color-primary;
}
@mixin tagline {
  font-size: 0.825rem;
}
@mixin tags {
  color: $color-primary;
  font-size: 0.825rem;
}
@mixin tag {
  font-size: 0.75rem;
  color: $color-primary;
  padding: 0 5px;
  margin: 0 2px;
  border-radius: 15px;
  border: solid 1px #c4c4c4;
  background-color: white;
}
@mixin input {
  border: $color-white;
}
@mixin placeholder {
  font-size: 0.95rem;
}
@mixin mobile-section-margin {
  margin: 1% 0 1% 4%;
}
